In [1]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.shape)

display(df.head())

display(df.info())

(294, 14)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0
3,30,0,1,170,237,0,1,170,0,0.0,?,?,6,0
4,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         294 non-null    int64
 1   sex         294 non-null    int64
 2   cp          294 non-null    int64
 3   trestbps    294 non-null    object
 4   chol        294 non-null    object
 5   fbs         294 non-null    object
 6   restecg     294 non-null    object
 7   thalach     294 non-null    object
 8   exang       294 non-null    object
 9   oldpeak     294 non-null    float64
 10  slope       294 non-null    object
 11  ca          294 non-null    object
 12  thal        294 non-null    object
 13  num         294 non-null    int64
dtypes: float64(1), int64(4), object(9)
memory usage: 32.3+ KB

None